[database]
dbname = musicbrainz_db
host = localhost
password = musicbrainz
port = 5432
user = musicbrainz

[solr]
uri = http://127.0.0.1:8983/solr
batch_size = 60
retries = 3
backoff_factor = 1

[sir]
import_threads = 2
query_batch_size = 20000
wscompat = on

[rabbitmq]
host = localhost
user = guest
password = guest
vhost = /
prefetch_count = 350

[sentry]
dsn = https://something:something@sentry.metabrainz.org/42
