[database]
uri = postgresql://musicbrainz@localhost/musicbrainz

[solr]
uri = http://127.0.0.1:8983/solr
batch_size = 60

[sir]
import_threads = 2
query_batch_size = 20000
wscompat = on

[rabbitmq]
host = localhost
user = guest
password = guest
vhost = /

[sentry]
dsn = https://something:something@sentry.metabrainz.org/42
