amqp==2.5.2
backports.functools_lru_cache==v1.6.1
enum34==1.1.6
git+https://github.com/yvanzo/mbdata.git@v26.0.dev3#egg=mbdata
git+https://github.com/metabrainz/mb-rngpy.git@v-2.20201112.0#egg=mb-rngpy
psycopg2==2.8.4
retrying==1.3.3
pysolr==3.8.1
sqlalchemy==1.0.19
requests==2.22.0
raven==6.1.0
ujson==1.35
