amqp==5.1.1
git+https://github.com/amCap1712/mbdata.git@v27.0.dev2#egg=mbdata
git+https://github.com/yvanzo/mb-rngpy.git@test-ac-genre-series#egg=mb-rngpy
psycopg2-binary==2.9.10
retrying==1.3.3
pysolr==3.10.0
sqlalchemy==2.0.38
requests==2.32.3
ujson==1.35
sentry-sdk==2.23.1
sqlalchemy-utils==0.41.1
