amqp==5.1.1
mbdata@git+https://github.com/acoustid/mbdata.git@37d507a54251f96cb7aa71a3ab59c41f357db61e
mb-rngpy@git+https://github.com/mwiencek/mb-rngpy.git@v-2.20250227.0.dev0
psycopg2-binary==2.9.10
retrying==1.3.3
pysolr==3.10.0
sqlalchemy==2.0.38
requests==2.32.3
ujson==1.35
sentry-sdk==2.23.1
sqlalchemy-utils==0.41.1
