services:

  test:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.test
    depends_on:
      - musicbrainz_db

  musicbrainz_db:
    image: metabrainz/musicbrainz-test-database:master
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      PGDATA: /var/lib/postgresql-musicbrainz/data
